* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  color: rgb(35, 35, 35);
}

main {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 50px 0 20px;
}

.hero {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.hero .info {
  padding: 30px;
}

.hero p {
  font-size: 1.8rem;
  margin: 15px 0;
}

.hero .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero a {
  background-image: linear-gradient(
    to right,
    #bf0413 0%,
    #e52d27 51%,
    #e52d27 100%
  );
  padding: 10px 30px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  font-size: 1.4rem;
  text-decoration: none;
  display: inline-block;
}

.hero a:hover {
  background-position: right center; /* change the direction of the change here */
}

.section-grid {
  margin: 20px;
}

.section-grid .grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-auto-rows: 130px;
  gap: 15px;
  justify-content: center;
}

.section-grid .item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-grid .item_big {
  grid-area: 1 / 1 / 3 / 3;
}

.section-list {
  margin-bottom: 100px;
}

.section-list .list {
  display: grid;
  grid-template-columns: repeat(5, minmax(70px, 100px));
  grid-auto-rows: minmax(70px, 100px);
  gap: 15px;
  justify-content: center;
}

.section-list img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: minmax(180px, 678px);
    text-align: center;
  }
  .hero img {
    display: none;
  }

  .section-grid .grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 145px));
  }

  .section-list .list {
    grid-template-columns: repeat(3, minmax(100px, 100px));
  }
}

@media screen and (max-width: 510px) {
  .section-list .list {
    grid-template-columns: repeat(2, minmax(100px, 100px));
  }
}
